.portfolio-img{
  width: 100%;
  aspect-ratio: 650 / 350;   /* 关键：统一比例 */
  overflow: hidden;
}

.portfolio-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;        /* 填满 + 自动裁剪 */
  display: block;
}

.project-description{
  margin-top: .75rem;
  font-size: 0.95rem;
  line-height: 1.9;
  max-width: 90%;
}

.company-name {
    line-height: 1.2;
}

.kana {
    display: block;
    font-size: 14px;
    letter-spacing: 4px;
    color: #999;
    margin-bottom: 2px;
}